.square {
    width: 225px;
    height: 225px;
    border-radius: 15px;
    font-size: 80px;
    text-align: center;
    background-color: gray;
    color: black;
    border: 3px solid black;

    cursor: pointer;
}


.square.vencedor {
    background-color: #00ff00;
    color: black;
    transform: scale(1.05);
}



.box {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 40px;
    text-align: center;
}

.game {
    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid black;
    background-color: black;
}

#monkey {
    color: black;
    background-color: gray;
    font-size: 40px;
    width: 380px;
    border-radius: 15px;
    cursor: pointer;
    border: 5px solid black;
    padding: 5px;
    margin-top: 25px;
    transition: transform 0.2s ease, background 0.3s ease;
}

#titulo {
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.info-painel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

#placar {
    margin-bottom: 10px;
    font-weight: bold;
}